main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .input-group{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    input{
        border: none;
        outline: none;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        border-radius: 0.75rem;
    }

    .form-container{
        min-width: 350px;
        display: flex;
        flex-direction: column;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}



